<%= render "shared/header" %>
<% regions = [
  {
      name: "北海道・東北地方",
    prefectures: [
      { name: "北海道", class: "hokkaidou", prefecture_id: 2 },{ name: "青森県", class: "aomori", prefecture_id: 3 },
      { name: "岩手県", class: "iwate", prefecture_id: 4 },    { name: "宮城県", class: "miyagi", prefecture_id: 5 },
      { name: "福島県", class: "hukusima", prefecture_id: 6 }, { name: "秋田県", class: "akita", prefecture_id: 7 },
      { name: "山形県", class: "yamagata", prefecture_id: 8 }
    ]
  },
  {
    name: "関東地方",
    prefectures: [
      { name: "茨城県", class: "ibaraki", prefecture_id: 9 },   { name: "栃木県", class: "totigi", prefecture_id: 10 },
      { name: "群馬県", class: "gunma", prefecture_id: 11 },    { name: "埼玉県", class: "saitama", prefecture_id: 12 },
      { name: "東京都", class: "toukyou", prefecture_id: 13 },  { name: "千葉県", class: "tiba", prefecture_id: 14 },
      { name: "神奈川県", class: "kanagawa", prefecture_id: 15 }
  ]
  },
  {
    name: "中部地方",
    prefectures: [
      { name: "長野県", class: "nagano", prefecture_id: 16 }, { name: "山梨県", class: "yamanasi", prefecture_id: 17 },
      { name: "静岡県", class: "sizuoka", prefecture_id: 18 },{ name: "愛知県", class: "aiti", prefecture_id: 19 },
      { name: "岐阜県", class: "gihu", prefecture_id: 20 },   { name: "新潟県", class: "niigata", prefecture_id: 21 },
      { name: "富山県", class: "toyama", prefecture_id: 22 }, { name: "石川県", class: "isikawa", prefecture_id: 23 },
      { name: "福井県", class: "hukui", prefecture_id: 24 }
    ]
  },
  {
    name: "近畿地方",
    prefectures: [
      { name: "滋賀県", class: "siga", prefecture_id: 25 },  { name: "京都府", class: "kyouto", prefecture_id: 26 },
      { name: "大阪府", class: "oosaka", prefecture_id: 27 },{ name: "奈良県", class: "nara", prefecture_id: 28 },
      { name: "三重県", class: "mie", prefecture_id: 29 },   { name: "和歌山県", class: "wakayama", prefecture_id: 30 },
      { name: "兵庫県", class: "hyougo", prefecture_id: 31 }
    ]
  },
  {
    name: "中国地方",
    prefectures: [
      { name: "岡山県", class: "okayama", prefecture_id: 32 }, { name: "広島県", class: "hirosima", prefecture_id: 33 },
      { name: "山口県", class: "yamaguti", prefecture_id: 34 },{ name: "島根県", class: "simane", prefecture_id: 35 },
      { name: "鳥取県", class: "tottori", prefecture_id: 36 }
    ]
  },
  {
    name: "四国地方",
    prefectures: [
      { name: "香川県", class: "kagawa", prefecture_id: 37 },{ name: "愛媛県", class: "ehime", prefecture_id: 38 },
      { name: "高知県", class: "kouti", prefecture_id: 39 }, { name: "徳島県", class: "tokusima", prefecture_id: 40 }
    ]
  },
  {
    name: "九州・沖縄地方",
    prefectures: [
      { name: "福岡県", class: "hukuoka", prefecture_id: 41 }, { name: "大分県", class: "ooita", prefecture_id: 42 },
      { name: "佐賀県", class: "saga", prefecture_id: 43 },    { name: "長崎県", class: "nagasaki", prefecture_id: 44 },
      { name: "宮崎県", class: "miyazaki", prefecture_id: 45 },{ name: "鹿児島県", class: "kagosima", prefecture_id: 46 },
      { name: "熊本県", class: "kumamoto", prefecture_id: 47 },{ name: "沖縄県", class: "okinawa", prefecture_id: 48 }
          ]
        }
] %>

<% regions.each do |region| %>
  <h2 class="region"><%= region[:name] %></h2>
  <ul class="prefecture_lists">
    <% region[:prefectures].each do |prefecture| %>
      <%= link_to posts_path(prefecture_id: prefecture[:prefecture_id]), class: "prefecture #{prefecture[:class]} common-style" do %>
        <li><%= prefecture[:name] %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>