a {
  text-decoration: none;
  color: black;
}

.top-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.main-body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

/**左側（旅行情報）**/
.left-body {
  width: 50VW;
  background-color: lightgray;
}

.post-top-title {
  text-align: center;
  font-size: 25px;
  background-color: aquamarine;
  border: 1px solid black;
}

.post {
  background-color: white;
  height: 200px;
  width: 45vw;
  border-radius: 10px;
  margin: 10px auto 5px auto;
  cursor: pointer;
  overflow: hidden;
}
/**上半分（主題＋写真）**/
.post-top {
  display: flex;
  height: 100px;
  width: 100%;
}

.post-img-content {
  height: 100%;
  width: 100px;
  flex-shrink: 0;
}

.post-img {
  object-fit: cover; 
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.post-content {
  height: 100px;
  width: 100%;
  border-radius: 0 10px 0 0;
}

.post-content-top {
  display: flex;
  justify-content: flex-start;
}

.post-category, .post-status, .post-score {
  font-size: 15px;
}

.post-title {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: auto;
}

.post-body {
  font-weight: bold;
  overflow-x: auto;
  height: 50px;
  max-height: 50px;  
}

.post-content-info-sub {
  display: flex;
  justify-content: flex-end;
}

.post-user-nickname {
  margin-right: 20px;
}

.post-created-at {
  float: right;
}

/**右側（旅のしおり）**/
.right-body {
  background-color: green;
  width: 50vw;
}

