a {
  text-decoration: none; /* 下線をなくす */
  color: inherit; /* 青色を削除し、親要素の色を継承する */
}

.main-body {
  display: flex; /* 横並びにする */
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
}

/* 左側のコンテンツエリア */
.left-body {
  flex: 2;
  margin-right: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 右側のコンテンツエリア */
.right-body {
  flex: 1;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 見出し */
.post-top-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

/* ポストのスタイル */
.post {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}

.post-top {
  display: flex;
}

.post-img-content {
  flex: 1;
  margin-right: 15px;
}

.post-img {
  width: 150px; 
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.post-content {
  flex: 3;
}

.post-content-main {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.post-content-top {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.post-status,
.post-score,
.post-category {
  font-size: 14px;
  color: #666666;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-body {
  margin: 10px 0;
}

/* ポストの追加情報 */
.post-content-info {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.post-content-info-sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #666666;
}

.post-user-nickname {
  font-weight: bold;
}

.post-created-at {
  font-style: italic;
  color: #999999;
}

/* 旅のしおりのスタイル */
.travel-plan {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;

}